<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Art Work</title>
</head>
<body>
    <h1>Registered Users with their art</h1>

    <ul>
        <% users.forEach((usr) => { %>
        <div class="user">
            <h2><%= usr.username %></h2>
            <p>Email: <%= usr.email %></p>
            <p>Specialty: <%= usr.specialty %></p>
            <p>Bio: <%= usr.bio %></p>
            <h3>Artwork:</h3>
            <ul>
                <% usr.products.forEach((product) => { %>
                    <li>
                        <h4><%= product.title %></h4>
                        <p><%= product.description %></p>
                    </li>
                <% }); %>
            </ul>
        </div>
    <% }); %>
         
    </ul>
</body>
</html>